<%- include("particles/header"); -%>

<p style="color:white; margin:10px;">
 This is a website where you can ask your friends do they remember your first meeting.
</p>
 <p style="color:white; margin:10px;">
 we help you by generating a link for you, so that you can share it with with your friends.
</p>
 <p style="color:white; margin:10px;">
 When they answer your question you can their responses in get results page.
</p>

 <p style="color:#e9a685; margin:10px;">
 Thank you for supporting us.
  </p>
<%- include("particles/footer"); -%>
