<%- include("particles/header"); -%>



<div class="question" style="margin-top:30px;">
  <p style="color:#e9a685; margin:10px;margin-top:40px;">
    When and where, <br /> did we met for the first time ?
  </p>

</div>
<form class="form" action="" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value="">
  <label for="answer">Answer</label>
  <textarea name="answer" rows="8" cols="40"></textarea>
  <div class="btn btn-medium" style="margin-bottom:100px;">
    <button type="submit" name="button">submit</button>
  </div>
</form>

  <script src="/javascripts/answer.js" charset="utf-8"></script>
<%- include("particles/footer"); -%>
