<%- include("particles/header"); -%>
<p style="color:white; margin:10px;">
  Contact Us:
  </p>
  <p style="color:#e9a685; margin:10px;">
    vamsiky55555@gmail.com
    </p>
<%- include("particles/footer"); -%>
