<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style1.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" charset="utf-8"></script>
    <title></title>
  </head>
  <body>
    <div class="heading">
          <h1>MEMORIES</h1>
           <p>
             write now,read later
           </p>
      </div>
    <div class="main" id="<%= id %>">

    </div>

    <script src="/javascripts/display.js" charset="utf-8"></script>
<%- include("particles/footer"); -%>
