<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/style1.css">
     <meta name="viewport" content="width=device-width,initial-scale=1">
      <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
      <script data-ad-client="ca-pub-9735367935681753" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162372673-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-162372673-2');
</script>

    <title>MEMORIES</title>
  </head>
  <body>
    <div class="heading">
          <h1>MEMORIES</h1>
           <p>
             write now,read later
           </p>
      </div>
<div class="content">
  <p>Your friends will answer this interesting question!!!</p>
  <div class="question">
    <p style="color:#e9a685">
      When and where, <br /> did we met for the first time ?
    </p>
  </div>

</div>
<div class="btn">
  <button type="button" name="btn" value=""><a href="/user">create url</a></button>
</div>

<%- include("particles/footer"); -%>
