<%- include("particles/header"); -%>
<p style="color:white; margin:10px;">
  we provide services with free of data tracking and sharing.
</p>
<p style="color:white; margin:10px;">
  you don't need to worry about data,because we never collect our users data.
</p>
<p style="color:#e9a685; margin:10px;">
  So, feel free to use our services.
</p>
<%- include("particles/footer"); -%>
