<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style1.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title></title>
  </head>
  <body>
    <div class="heading">
          <h1>MEMORIES</h1>
           <p>
             write now,read later
           </p>
      </div>

<h1 style="margin-top:10vh; color:white;">Submitted!!!</h1>
<div>
  <a href="/user" style="color:#e9a685; text-decoration:none;">Click here to get your own link.</a>

  </div>

<%- include("particles/footer"); -%>
