<div class="footer">
       
       <div class="">
         <a href="/about">about</a>
       </div>
       <div class="">
         <a href="/privacypolicy">privacy policy</a>
       </div>
       <div class="">
         <a href="/contact">contact us</a>
       </div>
   </div>
  </body>
</html>
