<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/style1.css">
     <meta name="viewport" content="width=device-width,initial-scale=1">
      <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>MEMORIES</title>
  </head>
  <body>
    <div class="heading">
          <h1>MEMORIES</h1>
           <p>
             write now,read later
           </p>
      </div>
